.homeContainer {
  padding-top: 50px;

  a {
    color: var(--pink-500);

    &:hover {
      h1, h2 {
        color: var(--pink-500);
      }
      text-decoration: underline;
    }
  }

  > a {
    display: block;
  }

  a + a {
    margin-top: 3rem;
  }

  h1 {
    font-size: 1.75rem;
    line-height: 34px;
    font-weight: 700;
    color: var(--gray-100);
    margin-bottom: 8px;
  }

  h2 {
    font-size: 1.125rem;
    line-height: 22px;
    font-weight: 400;
    color: var(--gray-200);
    margin-bottom: 25px;
  }

 .info {
   display: flex;

    svg {
      margin-right: 10px;
    }

    p {
      font-size: 0.875rem;
      line-height: 17px;
      color: var(--gray-300);
      margin-right: 30px;
    }
 }

 button {
   border: none;
   background: transparent;
   font-weight: 600;
   font-size: 1.125rem;
   color: var(--pink-500);
   margin-top: 4rem;
 }
}
